<a href="https://colab.research.google.com/github/pouniq/adult-income/blob/main/adult_income_(classification_problem).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pipeline ML
1. collect data
2. data interpretation
3. train test split
4. preprocessing
  - scale
  - handle Nan values
  - outliers
  - handle categorical values
5. training the data

import packages :

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score , accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

reading and loading the dataset

In [23]:
train_df = pd.read_csv("https://raw.githubusercontent.com/pouniq/adult-income/main/adult/adult.data" , header = None)
test_df = pd.read_csv("https://raw.githubusercontent.com/pouniq/adult-income/main/adult/adult.test" , skiprows=1 , header = None)

insight into training data

In [24]:
train_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [25]:
train_df.shape

(32561, 15)

In [26]:
train_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [27]:
train_df.info()
# we dont have any NAN value in training dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [28]:
train_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### naming the dataset columns


*   age: the age of the individual in years,
* capital_gain: capital gain in the previous year,
* capital_loss: capital loss in the previous year,
* education: highest level of education achieved by the individual,
* education-num: a numeric form of the highest level of education achieved,
* fnlwgt: an estimate of the number of individuals in the population with the same demographics as this individual,
* hours_per_week: hours worked per week,
* marital_status: the marital status of the individual,
* native_country: the native country of the individual,
* occupation: the occupation of the individual,
* race: the individual's race,
* relationship: the individual's relationship status,
* sex: the individual's sex,
* workclass: the industry / sector that the individual works in.
`

In [55]:
cols = ["age", "capital_gain", "capital_loss","education","education-num","fnlwgt",
       "hours_per_week","marital_status","native_country","occupation","race","relationship","sex","workclass","50K"]

train_df.columns

Index([           'age',   'capital_gain',   'capital_loss',      'education',
        'education-num',         'fnlwgt', 'hours_per_week', 'marital_status',
       'native_country',     'occupation',           'race',   'relationship',
                  'sex',      'workclass',               14],
      dtype='object')

In [56]:
newcols = dict(zip(train_df.columns , cols))
train_df = train_df.rename(columns = newcols)
newcols

{'age': 'age',
 'capital_gain': 'capital_gain',
 'capital_loss': 'capital_loss',
 'education': 'education',
 'education-num': 'education-num',
 'fnlwgt': 'fnlwgt',
 'hours_per_week': 'hours_per_week',
 'marital_status': 'marital_status',
 'native_country': 'native_country',
 'occupation': 'occupation',
 'race': 'race',
 'relationship': 'relationship',
 'sex': 'sex',
 'workclass': 'workclass',
 14: '50K'}

In [31]:
train_df

,age,capital_gain,capital_loss,education,education-num,fnlwgt,hours_per_week,marital_status,native_country,occupation,race,relationship,sex,workclass,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
test_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [33]:
 test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       16281 non-null  int64
 1   1       16281 non-null  object
 2   2       16281 non-null  int64
 3   3       16281 non-null  object
 4   4       16281 non-null  int64
 5   5       16281 non-null  object
 6   6       16281 non-null  object
 7   7       16281 non-null  object
 8   8       16281 non-null  object
 9   9       16281 non-null  object
 10  10      16281 non-null  int64
 11  11      16281 non-null  int64
 12  12      16281 non-null  int64
 13  13      16281 non-null  object
 14  14      16281 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

train test split

In [34]:
x_train = train_df.iloc[: , :-1]
y_train = train_df.iloc[: , -1]
x_test = test_df.iloc[: , :-1]
y_test = test_df.iloc[: , -1]

In [35]:
y_test

0         <=50K.
1         <=50K.
2          >50K.
3          >50K.
4         <=50K.
          ...
16276     <=50K.
16277     <=50K.
16278     <=50K.
16279     <=50K.
16280      >50K.
Name: 14, Length: 16281, dtype: object

preprocessing

In [50]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   capital_gain    32561 non-null  int64
 2   capital_loss    32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   fnlwgt          32561 non-null  object
 6   hours_per_week  32561 non-null  object
 7   marital_status  32561 non-null  object
 8   native_country  32561 non-null  object
 9   occupation      32561 non-null  object
 10  race            32561 non-null  int64
 11  relationship    32561 non-null  int64
 12  sex             32561 non-null  int64
 13  workclass       32561 non-null  object
 14  14              32561 non-null  object
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [37]:
enc = LabelEncoder()

training the data

In [61]:
train_df["capital_gain"] = enc.fit_transform(train_df["capital_gain"])
train_df["education"] = enc.fit_transform(train_df["education"])
train_df["fnlwgt"] = enc.fit_transform(train_df["fnlwgt"])
train_df["hours_per_week"] = enc.fit_transform(train_df["hours_per_week"])
train_df["marital_status"] = enc.fit_transform(train_df["marital_status"])
train_df["native_country"] = enc.fit_transform(train_df["native_country"])
train_df["occupation"] = enc.fit_transform(train_df["occupation"])
train_df["workclass"] = enc.fit_transform(train_df["capital_gain"])
train_df["capital_gain"] = enc.fit_transform(train_df["capital_gain"])

In [59]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   capital_gain    32561 non-null  int64
 2   capital_loss    32561 non-null  int64
 3   education       32561 non-null  int64
 4   education-num   32561 non-null  int64
 5   fnlwgt          32561 non-null  int64
 6   hours_per_week  32561 non-null  int64
 7   marital_status  32561 non-null  int64
 8   native_country  32561 non-null  int64
 9   occupation      32561 non-null  int64
 10  race            32561 non-null  int64
 11  relationship    32561 non-null  int64
 12  sex             32561 non-null  int64
 13  workclass       32561 non-null  int64
 14  50K             32561 non-null  object
dtypes: int64(14), object(1)
memory usage: 3.7+ MB